body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
.me {
    width: 150px;
    height: 150px;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 7px solid #d8cefe;
    
}

